.submit-btn {
    display: inline-block;
    cursor: pointer;
    background-color: #6c757d;
    border: none;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    padding: 10px 30px;
    margin: 20px 0;
}

@media all and (max-width: 960px) {
    .submit-btn {
        width: 100%;
        margin-left: 0 !important;
    }

    .submit-btn:nth-of-type(2) {
        width: 100%;
        margin-top: 0 !important;
    }
}
