.wrapper {
    padding: 2%;
}

.title {
    color: #000;
    border: none;
    border-bottom: 2px solid #eee;
    outline: none;
    width: 98%;
    font-size: 32px;
    padding: 10px;
    margin: 30px 0 5px 0;
}

.url {
    color: #000;
    border: none;
    border-bottom: 1px solid #eee;
    outline: none;
    width: 98%;
    font-size: 18px;
    padding: 10px;
    margin: 30px 0 5px 0;
}

.featured-image {
    color: #000;
    border: none;
    border-bottom: 1px solid #eee;
    outline: none;
    width: 98%;
    font-size: 18px;
    padding: 10px;
    margin: 30px 0 5px 0;
}

.texteditor {
    border-bottom: 1px solid #eee;
    margin: 30px 0;
    padding-bottom: 5px;
}

.editor-inside {
    padding: 10px;
    height: 320px;
}

.category {
    font-size: 20px;
    padding: 5px 20px 5px 10px;
    cursor: pointer;
}

.submit-btn {
    display: block;
    cursor: pointer;
    background-color: #6c757d;
    border: 1px solid #6c757d;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    padding: 10px 30px;
    margin: 20px 0;
}

.quote {
    text-align: center;
    margin: 50px 0 10px 0;
    font-size: 18px;
}

.error {
    color: #dc3545;
    font-family: sans-serif;
}

@media all and (max-width: 960px) {
    .wrapper {
        padding: 5%;
    }

    .category {
        width: 100%;
    }
}
