.logo {
    text-align: center;
    font-size: 48px;
    text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
    /* text-decoration: underline; */
    font-style: bold;
    text-transform: uppercase;
    margin: 20px 10px;
}

.navigation {
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    text-align: center;
    padding: 15px 30px;
}

.link {
    color: #000;
    text-decoration: none;
    font-size: 21px;
    font-weight: bold;
    font-family: sans-serif;
    margin: 15px;
}
