.logo {
    text-align: center;
    font-size: 48px;
    font-style: bold;
    text-transform: uppercase;
    margin: 20px 10px;
    text-decoration: none;
}

.topnav {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    text-align: center;
    padding: 15px 30px;
}

.link {
    color: #000;
    text-decoration: none;
    font-size: 23px;
    font-weight: bold;
    font-family: sans-serif;
    font-weight: 500;
    margin: 15px;
}

.active {
    text-decoration: underline;
}

.mobile-btn {
    display: none;
}

.nostyle {
    text-decoration: none;
    color: #000;
}

@media screen and (max-width: 862px) {
    .mobile-btn {
        display: inline-block;
        border: 1px solid #000;
        outline: none;
        padding: 5px 10px;
        width: 100%;
        background-color: #fff;
    }

    .menu {
        display: none;
    }

    .topnav {
        padding: 5px;
        border: none;
    }

    .menu-wrapper {
        padding: 0 6%;
    }

    .link {
        display: block;
        border-bottom: 1px solid #000;
        margin: 0;
        padding: 10px 25px 12px 25px;
        text-align: left;
        font-weight: 300;
        font-size: 20px;
    }

    .link:active {
        color: #fff;
        background-color: #000;
    }

    .active {
        text-decoration: none;
        background-color: #000;
        color: #fff;
    }
}

@media screen and (max-width: 350px) {
    .logo {
        font-size: 32px;
    }

    .mobile-btn {
        padding: 3px 6px;
    }
}
